<h1>Hello Angular World</h1>

<h2>Lesson Summary</h2>

<p>
  Learning angular seems rather straight forward but it does have it's
  weird quirks.
</p>

<p>
  I have had to start this thing over a few times which was frustating 
  but learning git and making sure there are no conflicts is rather annoying.
</p>

<iframe width="560" height="315" 
  src="https://www.youtube.com/embed/v1Mjc4zNfY4?si=kYt1cIWHDN7F_oSp">
</iframe>

<br>

<article>
  I have recently started watching these restoration videos of older paintings
  and the process is rather relaxing and very interesting to watch.
</article>

<button>I Do Nothing</button>